<!DOCTYPE html>
<html>
<head>
  <title>Playlistr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="site-header">
  <h3 class="logo">Playlistr</h3>

  <nav class="site-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">New Playlist</a></li>
      <li><a href="">Logout</a></li>
    </ul>
  </nav>
</div>
<!-- /.site-header -->

<div class="container">
  <%= yield %>
</div>

</body>
</html>
