<!DOCTYPE html>
<html>
<head>
  <title>Playlistr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="site-header">
  <div class="logo">
    <%= link_to (image_tag "logo.svg"), root_path %>
  </div>

  <nav class="site-nav">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "New Playlist", new_post_path %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path)  %></li>
      <% end %>
    </ul>
  </nav>
</div>
<!-- /.site-header -->

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  
  <% else %>
    <div class="test">Test</div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
